@{
    Layout = null;
    var user = Session["USER_BO"] as Roomy.Models.User;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BackOffice | @ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/roomy.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>BackOffice</h1>

        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Home", new { area = "" })">App<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "dashboard")">BackOffice<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id=" navbarDrowpdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Salle <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Rooms")">Voir les salles</a></li>
                            <li><a href="@Url.Action("Index", "Categories")">Voir les catégories</a></li>
                            <li><a href="@Url.Action("Create", "Rooms")">Ajouter</a></li>
                            @*<li role="separator" class="divider"></li>*@
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id=" navbarDrowpdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorie <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Categories")">Voir les categories</a></li>
                            <li><a href="@Url.Action("Create", "Categories")">Ajouter Categorie</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Create", "Users")">Nouvel utilisateur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.RouteUrl("AboutRoute")">A Propros</a>
                    </li>

                </ul>

                <span class="navbar-text">
                    Bijour @user.FirstName @user.LastName <a href="@Url.Action("Logout", "Authentication")" class="btn btn-warning btn-sm"><i class="fa fa-eject"></i></a>
                </span>
            </div>


        </nav>

        @if (TempData["Message"] != null && !string.IsNullOrWhiteSpace(TempData["Message"].ToString()))
        {
            <div class="alert alert-@TempData["MessageType"].ToString()">@TempData["Message"].ToString()</div>
        }


        @RenderBody()

        <br />
        <footer class="bg-info text-white">
            &copy; <s>POEC</s> Formation tout court - Rouen 2018
        </footer>

    </div>


    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("SectionScripts", false)

</body>
</html>
